*{
	padding:0px;
	margin:0px;
}


.chathistory{
	height:70%;
	width:80%;
	margin:10px auto;
	padding:10px;
	background:#f1f1f1;
	text-align:left;
	overflow: auto;
	position: absolute;
	z-index: 9999;
	right: 40px;
}

#sendButton{
	background: #242633;
	width: 9%;
	height: 40px;
	color: #c7dbdc;
	border: none;
	position: absolute;
	right:    10px;
	bottom:   10px;
	border-radius: 10px; 
}
#sendButton:hover{
	transition: 1s;
	background: #0e0f14;
}




.siglemessage{
	font-size:12px;
	padding:5px;
	
}

body{
	background: black;
	padding: 5px;
}
#login{
	position: absolute;
	top: 8px;
	left: 8px;
	width: 5.5%;
	height: 5%;	
	border: none;
	border-radius: 3;
	background: #c7dbdc;
}

#login:hover{
	transition: 1s;
	background: #a0afaf;
}

#roomsContainer{
	background: #242633;
	height: 100%;
	width: 7%;
}
#messageArea {
	background: #242633;
	bottom: 10px;
	width: 64%;
	max-width: 1300px;
	min-width: 100px;
	height: 40px;
	color: #c7dbdc;
	border: none;
	position: absolute;
	border-radius: 5px;
	box-sizing: border-box;
	right: 20%;
}


#sendButton{
	background: #242633;
	width: 9%;
	height: 40px;
	color: #c7dbdc;
	border: none;
	position: absolute;
	right:    10px;
	bottom:   10px;
	border-radius: 10px; 
}
#sendButton:hover{
	transition: 1s;
	background: #0e0f14;
}